/* CSS file placeholder. */
body {
  width : 300px;
  background-color: aliceblue;
  margin-left: 15px;
}

.largemenubutton {
  width: 130px;
  height: 30px;
  background-color: gainsboro;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  margin: 0px 1px 0px 1px;
}

.smallmenubutton {
  width: 30px;
  height: 30px;
  background-color: gainsboro;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  margin: 0px 1px 0px 1px;
}

.largemenubutton:hover {
  background-color: deepskyblue;
}

.smallmenubutton:hover {
  background-color: deepskyblue;
}

.menu {
  display: block;
  height: 30px;
}

.submenu {
  display: block;
  height: 15px;
  margin-top: 2px;
}

.submenubutton {
  width: 130px;
  height: 17px;
  background-color: gainsboro;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  margin: 0px 1px 0px 1px;
}

.submenubutton:hover {
  background-color: lightskyblue;
}

tr.serialtablerow:hover {
  background-color: gainsboro;
}

.form {
  padding : 6px 20px 10px 20px;
  display: block;
}

#main {
  margin-top: 5px;
  margin-left: 2px;
}

td.nametableitem {
  font-size: 12px;
  width: 210px;
}

td.episodetableitem {
  margin-left: 10px;
  font-size: 14px;
  width: 50px;
}

td.seasontableitem {
  margin-left: 10px;
  font-size: 14px;
}

div.watched {
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-right: 2px;
  border-top: 12px solid red;
  border-right: 12px solid transparent;
}

textarea.data {
  width: 98%;
  height: 250px;
  display: block;
}